{
  "openapi": "3.1.0",
  "info": {
    "title": "Agentic Finance Report and Index",
    "version": "0.1.0",
    "summary": "Read the Agentic Finance Report, query the Agentic Finance Index and fetch Open Mandate documents.",
    "description": "All endpoints are static files, GET only, free and unauthenticated. The Index lists agentic-finance deployments and infrastructure by layer and status; nobody pays to be listed. Open Mandate is a JSON Schema for machine-readable agent mandates. To declare a mandate, email index@agenticfinancereport.com or open a pull request in the site repository; there is no write endpoint.",
    "contact": { "name": "Agentic Finance Index", "email": "index@agenticfinancereport.com", "url": "https://agenticfinancereport.com/index/" },
    "license": { "name": "Index data CC0 1.0; report text per its disclaimer", "url": "https://agenticfinancereport.com/index/#methodology" }
  },
  "servers": [ { "url": "https://agenticfinancereport.com" } ],
  "paths": {
    "/index/entries.json": {
      "get": { "operationId": "listIndexEntries", "summary": "All Index entries with layer, status, source and operator confirmation", "responses": { "200": { "description": "Index", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Index" } } } } } }
    },
    "/mandate/schema.json": {
      "get": { "operationId": "getMandateSchema", "summary": "Open Mandate v0.1 JSON Schema", "responses": { "200": { "description": "JSON Schema 2020-12", "content": { "application/json": { "schema": { "type": "object" } } } } } }
    },
    "/mandate/{mandateId}.json": {
      "get": { "operationId": "getMandate", "summary": "A declared Open Mandate document", "parameters": [ { "name": "mandateId", "in": "path", "required": true, "schema": { "type": "string", "pattern": "^OM-[0-9]{4}$" }, "example": "OM-0001" } ], "responses": { "200": { "description": "Mandate", "content": { "application/json": { "schema": { "type": "object" } } } }, "404": { "description": "No such mandate" } } }
    },
    "/agentic-finance.summary.md": {
      "get": { "operationId": "getReportSummary", "summary": "Machine-readable summary of the report (Markdown with YAML front matter); published 29 September 2026", "responses": { "200": { "description": "Markdown", "content": { "text/markdown": { "schema": { "type": "string" } } } } } }
    },
    "/agentic-finance-report.md": {
      "get": { "operationId": "getReportFull", "summary": "The full report in Markdown with printed page markers; published 29 September 2026", "responses": { "200": { "description": "Markdown", "content": { "text/markdown": { "schema": { "type": "string" } } } } } }
    },
    "/skill.md": {
      "get": { "operationId": "getSkill", "summary": "How an agent uses these endpoints", "responses": { "200": { "description": "Markdown", "content": { "text/markdown": { "schema": { "type": "string" } } } } } }
    }
  },
  "components": {
    "schemas": {
      "Index": {
        "type": "object",
        "properties": {
          "name": { "type": "string" }, "version": { "type": "string" }, "updated": { "type": "string", "format": "date" },
          "methodology": { "type": "string", "format": "uri" }, "corrections": { "type": "string", "format": "uri" },
          "layers": { "type": "array", "items": { "type": "string" } },
          "entries": { "type": "array", "items": { "$ref": "#/components/schemas/Entry" } }
        }
      },
      "Entry": {
        "type": "object",
        "required": ["id", "name", "operator", "layer", "what", "status", "source", "confirmed_by_operator"],
        "properties": {
          "id": { "type": "string", "pattern": "^AFI-[0-9]{4}$" }, "name": { "type": "string" }, "operator": { "type": "string" },
          "layer": { "type": "string", "enum": ["regulated-foundation", "execution", "inference", "orchestration", "identity", "runtime-protection", "agent"] },
          "what": { "type": "string" }, "jurisdiction": { "type": "string" }, "status": { "type": "string" },
          "source": { "type": "string" }, "confirmed_by_operator": { "type": "boolean" },
          "url": { "type": "string", "format": "uri" }, "mandate": { "type": "string", "format": "uri" }, "disclosure": { "type": "string" }
        }
      }
    }
  }
}
